@font-face {
    font-family: 'Space Mono' ;
    src: url('./font/SpaceMono-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;

    font-family: 'Space Mono';
}
body{
    background-color: rgb(197, 228, 231);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

}
footer{
    position: absolute;
    bottom: 0px;
}
#table{
    background-color: white;
    display: flex;
    
    padding: 20px;
    border-radius: 20px;
}
/*-------------------------------------------------------------------*/
#esquerda{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    margin: 10px;
    padding: 20px;

    width: 300px;
    height: 300px;

    font-weight:700;
    color: hsl(183, 100%, 15%);
}
#topo > input{
    width: 100%;
    height: 40px;
    margin-top: 5px;

    border-radius: 5px;
    border: none;

    font-weight: 600;
    font-size: 20px;
    text-align: end;
    color: hsl(183, 100%, 15%);

    background-color: hsl(189, 41%, 97%);
}
#topo > input:focus{
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}

#meio{
    display: flex;
    flex-wrap: wrap;
}
#divisprice{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
:root{
    --wei: 500;
    --cor: rgb(255, 255, 255);
    --bg: hsl(183, 100%, 15%);
}
#divisprice > label{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4px;
    width: 90px;
    height: 40px;

    font-size: 20px;
    color: var(--cor);
    font-weight: var(--wei);

    border-radius: 5px;
    border: none;

    cursor: pointer;
}
#divisprice > label:hover{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight:600;
}
#divisprice > label >input{
    display: none;
}
#custom{
    margin: 4px;
    width: 90px;
    height: 40px; 

    border-radius: 5px;
    border: 2px solid hsl(189, 41%, 97%);

    font-family: 'Space Mono';
    font-weight: 600;
    font-size: 20px;
    text-align: end;
    color: hsl(183, 100%, 15%);
    outline: none;

    background-color: hsl(189, 41%, 97%);
}
#custom::placeholder{
    color: hsl(186, 14%, 43%);
}
#custom:focus{
    border: 2px solid hsl(172, 67%, 45%);
}
#baixo > input{
    width: 100%;
    height: 40px;
    margin-top: 5px;

    font-weight: 600;
    font-size: 20px;
    text-align: end;
    color: hsl(183, 100%, 15%);

    outline: none;

    border-radius: 5px;
    border: none;

    background-color: hsl(189, 41%, 97%);
}
#baixo > input:focus {
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}

/*-------------------------------------------------------------------*/
#direira{
    display: flex;
    flex-direction: column;

    margin: 10px;
    padding: 20px;

    width: 300px;
    height: 300px;
    min-width: 200px;

    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
}
#direira > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}
#direira > div > h3 {
    font-size: 16px;
    color: white;
}
#direira > div > h3 > p {
    font-size: 12px;
    color:  hsl(184, 14%, 56%);
}
#direira > div > h1 {
    font-size: 40px;
    color: hsl(172, 67%, 45%);
}
#reset{
    width: 100%;
    height: 100%;
    flex: 1;
}
#reset > input{
    background-color:  hsl(172, 67%, 45%);
    font-weight: 900;
    font-size: 17px;
    color: hsl(183, 100%, 15%);

    align-self: flex-end;
    margin: 15px;

    width: 100%;
    height: 35px;

    border: none;
    outline: none;
    border-radius: 5px;
}
#reset > input:hover{
    background-color: hsl(185, 41%, 84%);
}
#reset > input:active{
    background-color:  hsl(186, 14%, 43%);
}
